<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>connectiongoogle</servlet-name>
  	<display-name>connectiongoogle</display-name>
  	<description></description>
  	<servlet-class>com.servlets.connectiongoogle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserNameServlet</servlet-name>
  	<display-name>UserNameServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UserNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Org_setup_1</servlet-name>
  	<display-name>Org_setup_1</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Org_setup_1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Org_setup_2</servlet-name>
  	<display-name>Org_setup_2</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Org_setup_2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>connectiongoogle1</servlet-name>
  	<display-name>connectiongoogle1</display-name>
  	<description></description>
  	<servlet-class>com.serve.connectiongoogle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TodoServlet</servlet-name>
  	<display-name>TodoServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.TodoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchTodo</servlet-name>
  	<display-name>FetchTodo</display-name>
  	<description></description>
  	<servlet-class>com.servlets.FetchTodo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveTodo</servlet-name>
  	<display-name>RemoveTodo</display-name>
  	<description></description>
  	<servlet-class>com.servlets.RemoveTodo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>feeddata</servlet-name>
  	<display-name>feeddata</display-name>
  	<description></description>
  	<servlet-class>com.servlets.feeddata</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Activation</servlet-name>
  	<display-name>Activation</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Activation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Activated</servlet-name>
  	<display-name>Activated</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Activated</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>assigntask</servlet-name>
  	<display-name>assigntask</display-name>
  	<description></description>
  	<servlet-class>com.work.assigntask</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>upload_docs</servlet-name>
  	<display-name>upload_docs</display-name>
  	<description></description>
  	<servlet-class>com.work.upload_docs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<display-name>DownloadServlet</display-name>
  	<description></description>
  	<servlet-class>com.work.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update_profile</servlet-name>
  	<display-name>update_profile</display-name>
  	<description></description>
  	<servlet-class>com.profile_image.update_profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>upload_org_profile</servlet-name>
  	<display-name>upload_org_profile</display-name>
  	<description></description>
  	<servlet-class>com.profile_image.upload_org_profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>upload_profile_img</servlet-name>
  	<display-name>upload_profile_img</display-name>
  	<description></description>
  	<servlet-class>com.profile_image.upload_profile_img</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>feedback</servlet-name>
  	<display-name>feedback</display-name>
  	<description></description>
  	<servlet-class>com.servlets.feedback</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>forgetservlet</servlet-name>
  	<display-name>forgetservlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.forgetservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>head_update</servlet-name>
  	<display-name>head_update</display-name>
  	<description></description>
  	<servlet-class>com.servlets.head_update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>department_head</servlet-name>
  	<display-name>department_head</display-name>
  	<description></description>
  	<servlet-class>com.servlets.department_head</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>head_profile</servlet-name>
  	<display-name>head_profile</display-name>
  	<description></description>
  	<servlet-class>com.profile_image.head_profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>head_update_details</servlet-name>
  	<display-name>head_update_details</display-name>
  	<description></description>
  	<servlet-class>com.profile_image.head_update_details</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update_dept</servlet-name>
  	<display-name>update_dept</display-name>
  	<description></description>
  	<servlet-class>com.profile_image.update_dept</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>connectiongoogle</servlet-name>
  	<url-pattern>/connectiongoogle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserNameServlet</servlet-name>
  	<url-pattern>/UserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Org_setup_1</servlet-name>
  	<url-pattern>/Org_setup_1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Org_setup_2</servlet-name>
  	<url-pattern>/Org_setup_2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>connectiongoogle1</servlet-name>
  	<url-pattern>/connectiongoogle1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TodoServlet</servlet-name>
  	<url-pattern>/TodoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchTodo</servlet-name>
  	<url-pattern>/FetchTodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveTodo</servlet-name>
  	<url-pattern>/RemoveTodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>feeddata</servlet-name>
  	<url-pattern>/feeddata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Activation</servlet-name>
  	<url-pattern>/Activation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Activated</servlet-name>
  	<url-pattern>/Activated</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>assigntask</servlet-name>
  	<url-pattern>/assigntask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upload_docs</servlet-name>
  	<url-pattern>/upload_docs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadServlet</servlet-name>
  	<url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update_profile</servlet-name>
  	<url-pattern>/update_profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upload_org_profile</servlet-name>
  	<url-pattern>/upload_org_profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upload_profile_img</servlet-name>
  	<url-pattern>/upload_profile_img</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>feedback</servlet-name>
  	<url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>forgetservlet</servlet-name>
  	<url-pattern>/forgetservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>head_update</servlet-name>
  	<url-pattern>/head_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>department_head</servlet-name>
  	<url-pattern>/department_head</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>head_profile</servlet-name>
  	<url-pattern>/head_profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>head_update_details</servlet-name>
  	<url-pattern>/head_update_details</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update_dept</servlet-name>
  	<url-pattern>/update_dept</url-pattern>
  </servlet-mapping>
</web-app>
